@import './cmps/about-page.css';
@import './cmps/book-list.css';
@import './cmps/book-preview.css';
@import './cmps/book-details.css';
@import './cmps/book-filter.css';
@import './cmps/book-app.css';
@import './cmps/review-add.css';
@import './cmps/user-msg.css';
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(#292929, gray, #fff);
    color: #fff;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

.app-main {
    height: 90vh;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

a:visited {
    color: #fff;
}

.router-link-active {
    border: 2px solid;
}


/* HELPERS */

.clear-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.app-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #094ad6;
    font-size: 1.5rem;
    margin-top: 30vh;
}


/*     */

input {
    border-radius: 10px;
    margin: 0 5px;
    text-align: center;
    font-size: 1.2rem;
}

.add-books-link {
    display: block;
    width: 100px;
    border: 1px solid;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #292929;
}

.add-books-link:hover {
    color: rgb(175, 185, 81);
    background-color: #0c0404;
}

.app-header {
    margin-bottom: 20px;
}