.about-page {
    background: url('../../img/about.jpg') no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-team,
.about-services {
    background-color: #292929;
}