.book-filter {
    margin: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.book-filter .prices-filter {
    display: flex;
}

.book-filter .btn-filter {
    font-size: 1.2rem;
    align-self: flex-end;
}