.book-filter {
    margin: 20px;
    display: grid;
    border: 2px solid;
    padding: 20px;
    width: 50%;
    justify-items: center;
    margin: auto;
}

.book-filter input {
    width: 170px;
}

.book-filter .prices-filter {
    display: flex;
}

.book-filter .btn-filter {
    font-size: 1.2rem;
    align-self: flex-end;
}